/* div{
            background-color: red;
        } */
.red {
  background-color: red;
}
#green {
  background-color: green;
}
/* child selector */
div > p {
  background-color: brown;
  color: blue;
}

/* descendant selector */
div p {
  background-color: yellow;
  color: black;
}
/*universal selector */
* {
  margin: 0;
  padding: 0;
}
/*pseudo selector */
a:visited {
  color: grey;
}
a:link {
  color: green;
}
a:active {
  background-color: brown;
}
div:hover {
  background-color: grey;
}
p:first-child {
  background-color: aqua;
}
