.box{
    width: 80vw;
    height: 70vh;
    background-color: antiquewhite;
    position: relative;
}
.ball{
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
    background-color: black;
    position:absolute;
    bottom: 0;
    left: 0;
    animation: ballmove 5s ease-in-out 1s 2;
}
@keyframes ballmove {
    
    10%{
        transform: translateX(20vw) translateY(-68vh);
    }
    40%{
        transform: translateX(20vw) translateY(10vh);
    }
    70%{
        transform: translateX(20vw) translateY(15vh);
    }
    90%{
        transform: translateX(35vw) translateY(-30vh);
    }
    100%{
        transform: translateX(5vw) translateY(-20vh);
    }
}