nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  font-size: 1vw;
  /* font-weight: 600; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin:0vh 3vw; */
}
nav ul li a {
  color: black;
  text-decoration: none;
}
.l1 img {
  width: 5vw;
}
.l8 img {
  width: 2vw;
}
.l9 img {
  width: 3vw;
  margin-right: 2vw;
}
.l1 {
  margin-left: 8vw;
}
.l2 {
  font-weight: 720;
  font-size: 2vw;
}
.l3 {
  margin-left: 20vw;
  margin-right: 3vw;
}
.l4 {
  margin-right: 3vw;
}
.l5 {
  margin-right: 3vw;
}
.l6 {
  margin-right: 3vw;
}
.l7 {
  margin-right: 3vh;
}
.l8 {
  margin-right: 1.5vw;
}
nav ul li {
  align-items: center;
  display: flex;
}
.text {
  font-size: 40px;
  padding: 5vh 15vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text span {
  font-weight: 700;
}
.info {
  padding: 5vh 20vw;
  font-size: 23px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button {
  text-align: center;
}
.button button {
  background-color: #00b6d1;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: none;
}
.info2 {
  align-content: center;
  margin: 0vh 20vw;
  margin-bottom: 5vh;
}
.info2 img {
  height: 60px;
  margin: 0vh 2vw;
}
.button {
  margin-bottom: 10vh;
}
.button button:hover {
  cursor: pointer;
}
#yo1 {
  font-size: 25px;
}
.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  gap: 5vh 2vw;
  padding: 0vh 20vw;
}
.datain {
  background-color: #f9f9f9;
  height: 250px;
  width: 300px;
  text-align: center;
  display: inline-block;
}
.datain button {
  background-color: rgb(35, 202, 35);
  padding: 10px;
  border-radius: 5px;
}
.datain button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lang {
  font-weight: 700;
  font-size: 20px;
}
.datain p:nth-child(5) {
  font-size: 7px;
  text-align: center;
}
.eng p:nth-child(1) {
  margin-bottom: 50px;
}
.eng p:nth-child(4) {
  font-size: 7px;
  text-align: center;
}
.foot {
  background-color: black;
  color: white;
}
#first {
  text-align: center;
  font-size: 25px;
  padding-: 70px 0px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#second {
  padding: 0 5vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.foot {
  align-content: center;
}
.former {
  align-content: center;
  display: flex;
  justify-content: center;
}
.former div {
  background-color: white;
  color: rgb(0, 182, 209);
  padding: 0 auto;
  width: 40vw;
  text-align: center;
  align-content: center;
  border-radius: 1vw;
}
.former div p:nth-child(1) {
  font-size: 20px;
}
.former div p:nth-child(2) {
  color: black;
}
.former div button {
  background-color: rgb(0, 182, 209);
  text-align: center;
  color: white;
  width: 250px;
  height: 50px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
}
.former div textarea {
  width: 245px;
}
@media screen and (max-width: 945px) {
  .data {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .info {
    padding: 5vh 8vw;
  }
  .info2 {
    margin: 5vh 5vw;
  }
}
@media screen and (max-width: 550px) {
  .data {
    grid-template-columns: 1fr;
  }
  .text {
    padding: 2vh 5vw;
  }
}
