*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}
.box{
    border:2px solid black; 
    width: 80vw;
    height: 10vh;
    box-sizing: border-box;
    margin: auto;
    background-color: aquamarine;
}
.container{
    border:2px solid black; 
    width: 80vw;
    box-sizing: border-box;
    margin:23px auto;
    /* font-size: 18px; */
    background-color: aquamarine;
}
.container p{
    font-size: 2rem;
}